// Your variable overrides
@mixin box_shadowmd ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

a {
  color: $a-darker-color !important;
}

.h {
  &-5 {
    height: 5% !important;
  }
  &-10 {
    height: 10% !important;
  }
  &-15 {
    height: 15% !important;
  }
  &-20 {
    height: 20% !important;
  }
  &-25 {
    height: 25% !important;
  }
  &-30 {
    height: 30% !important;
  }
  &-40 {
    height: 40% !important;
  }
  &-50 {
    height: 50% !important;
  }
  &-55 {
    height: 55% !important;
  }
  &-60 {
    height: 60% !important;
  }
  &-70 {
    height: 70% !important;
  }
  &-75 {
    height: 75% !important;
  }
  &-80 {
    height: 80% !important;
  }
  &-85 {
    height: 85% !important;
  }
  &-90 {
    height: 90% !important;
  }
  &-95 {
    height: 95% !important;
  }
}

.w {
  &-40 {
    width: 40% !important;
  }
  &-20 {
    width: 20% !important;
  }
}

.btn-light {
  background-color: $body-color !important;
  color: $body-background-color !important;
  height: $default-control-height !important;
  @include border-radius($round-radius, $round-radius);
  &:focus, &:hover {
    outline: none !important;
    border-width: 0 !important;
    background-color: darken($body-color, 20) !important;
  }

  &.disabled {
    background-color: darken($body-color, 20) !important;
  }
}

.btn-aggreement {
  min-width: 100px !important;
  @media only screen and (max-width: 768px) {
    width: 40% !important;
  }
}

.btn-xlight {
  background-color: $body-background-daker-color;
  color: lighten($body-background-daker-color, 40) !important;
  height: $default-control-height !important;
  @include border-radius($round-radius, $round-radius);
  &:focus {
    outline: none !important;
    border-width: 0 !important;
    box-shadow: unset !important;
  }
  &:hover {
    background-color: lighten($body-background-daker-color, 10) !important;
  }
  &.disabled {
    background-color: lighten($body-background-daker-color, 10) !important;
  }
}

.btn {
  cursor: pointer;
  text-align: start !important;
  @include box_shadowmd(3);
  &:focus {
    outline: none !important;
    border-width: 0 !important;
    @include box_shadowmd(5);
  }
  &:hover {
    @include box_shadowmd(5);
  }
}

.btn-secondary {
  background-color: $body-color !important;
  color: $body-background-color !important;
  height: $default-control-height !important;
  box-shadow: unset !important;

  @media only screen and (max-width: 768px) {
    padding-left: 10px;
    height: 40px !important;
    width: 40px !important;
  }

  @media only screen and (max-width: 599px) {
    padding-left: 16px;
    height: 48px !important;
    width: 48px !important;
  }

  &:focus, &:hover, &.selected {
    outline: none !important;
    border-width: 1px !important;
    background-color: $btn-sus-select !important;
    color: $body-color !important;
  }

  &.disabled {
    background-color: darken($body-color, 20) !important;
    color: darken($body-color, 20) !important;
  }
}

.btn-toolbar {
  justify-content: center;
}

.mapboxgl-popup-content {
  color: #000000;
}

.mapboxgl-ctrl-top-left {
  z-index: 0 !important;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^='top'] .arrow::before {
  border-top-color: darken($body-color, 20) !important;
}

.arrow:before {
  border-top-color: darken($body-color, 20) !important;
}

.tooltip .tooltip-inner {
  background-color: darken($body-color, 20) !important;
  color: $body-background-color !important;
  padding: 12px !important;
  min-width: 250px !important;
  font-weight: 600 !important;
}

.pb-3, .py-3 {
  @media only screen and (max-width: 768px) {
    padding-bottom: .25rem !important;
  }
}

.pt-3, .py-3 {
  @media only screen and (max-width: 768px) {
    padding-top: .25rem !important;
  }
}

.mapboxgl-compare {
  top: 0;
  left: 14px;
}
